<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Wizard</title>
    </head>
    <body>
        <div id="app" class="container mx-auto">
            <h1 class="text-5xl mb-5">wizard</h1>

            <div class="flex">
                <div class="w-1/2">
                    <h2 class="text-2xl mb-3">Validation</h2>

                    <p>
                        One of the key components to building a successful multi-step form is being able to determine
                        when the user can go to the next step. This requires validating the data, enabling, or
                        disabling specific buttons. The validation function must return `true` or `false`.
                    </p>

                    <h2 class="text-2xl mt-6 mb-3">Step Validation</h2>

                    <p>
                        There are two main ways to validate the current step in the form. The easiest way is to validate
                        the data within each `wizard-step` component. This allows each step to have a unique validation
                        routine.
                    </p>

                    <h2 class="text-2xl mt-6 mb-3">Global Validation</h2>

                    <p>
                        The other way to validate the steps is by using a single global validation routine in the `wizard`
                        component.
                    </p>
                </div>
                <div class="w-1/2">
                    <div class="card">
                        <wizard size="lg" :submit="submit" :errors="e => [e.message]" @fix="(e, wizard) => wizard.currentActive = 1">
                            <wizard-step label="Name" :validate-submit="() => !!(form.first && form.last)">
                                <input-field v-model="form.first" size="lg" label="What is your first name?" placeholder="John" class="mb-3"></input-field>
                                <input-field v-model="form.last" size="lg" label="What is your last name?" placeholder="Smith"></input-field>
                            </wizard-step>
                            <wizard-step label="Email Address" :validate-submit="() => !!form.email">
                                <input-field v-model="form.email" size="lg" label="What is your email address?" placeholder="you@example.com"></input-field>
                            </wizard-step>
                            <wizard-step label="Age" :validate-submit="() => !!`${form.age}`.match(/\d+/)">
                                <input-field v-model="form.age" size="lg" label="Optionally, tell us your age?"></input-field>
                            </wizard-step>
                        </wizard>
                    </div>
                </div>
            </div>

        </div>

        <script type="module">
            import './index.css';
            import Vue from 'vue/dist/vue';
            import { InputField } from '@vue-interface/input-field';
            import { Wizard, WizardStep } from './index.js';

            import { register, Spinner } from '@vue-interface/activity-indicator';
            
            register({
                Spinner
            });

            const vue = new Vue({
                el: '#app',
                components: {
                    InputField,
                    Wizard,
                    WizardStep
                },
                methods: {
                    promise(fn) {
                        return new Promise(fn);
                    },
                    failed(message) {
                        return Promise.reject(new Error(message));
                    },
                    log(...args) {
                        console.log(...args)
                    },
                    submit() {
                        return new Promise((resolve, reject) => {
                            const e = new Error('This is a test error!');

                            e.response = {
                                data: {
                                    errors: [
                                        'Error #1',
                                        'Error #2',
                                        'Error #3',
                                    ]
                                }
                            };

                            throw e;
                        });
                    }
                },
                data() {
                    return {
                        form: {},
                    };
                }
            });
        </script>
    </body>
</html>